@CHARSET "UTF-8";

html  {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  position: relative;
  padding: 0px;
  height: 100%;
}

/* 헤더 영역 설정 */
header {
  position: relative;
  height: 7%;
  line-height: 50px;
  background-color: white;
  color: black;
  min-width: 600px;
  margin: 0px;
}

/* 끝 - 헤더 영역 설정 */

/* 본문 내용 설정 */
section {
  /*margin: 0 181px 0 181px;*/
  height: 86%;
  padding: 0px 0px;
  min-width: 300px;
}

#toolbar {
  margin: 10px 0px;
}
/* 끝 - 본문 내용 설정 */

/* 오른쪽 편 영역 설정 */
form {
  width: 670px;
  height: 300px;
  position: absolute;
  top: 28%;
  left: 21.5%;
 
  background-color: lightgray;
  /*background-color: #59f;*/
  float: right;
}

#topText {
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

#imgInput {
	float: left;
	width: 280px;
  text-align: center;
}

#imgInput img {
	height: 100px;
	width: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#imgInput label {
	display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: white;
  cursor: pointer;
  border:2px outset lightgray;
  border-bottom-color: #efefef;
  border-radius: .25em;
}

#imgInput input {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.form-group input {
	margin-top : 10px;
}

#check {
	margin-top: 7px;
}

#button {
	padding-top: 25px;
	height: 50px;
	text-align: center;
}


#input_email {
	margin-left: 66px;
}

#input_nickName {
  margin-left: 36px;
}

#input_password {
  margin-left: 37px;
}

#input_password_confirm {
  margin-left: 5px;
}


/* 끝 - 오른쪽 편 영역 설정 */