@CHARSET "UTF-8";

html  {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  position: relative;
  padding: 0px;
  height: 100%;
}

/* 헤더 영역 설정 */
header {
  position: relative;
  height: 7%;
  line-height: 50px;
  background-color: white;
  color: black;
  min-width: 600px;
  margin: 0px;
}

/* 끝 - 헤더 영역 설정 */

/* 본문 내용 설정 */
section {
  /*margin: 0 181px 0 181px;*/
  height: 86%;
  padding: 0px 0px;
  min-width: 300px;
}

#toolbar {
  margin: 10px 0px;
}
/* 끝 - 본문 내용 설정 */

/* 오른쪽 편 영역 설정 */
joinForm {
  width: 640px;
  height: 300px;
  position: absolute;
  top: 51px;
  right: 0px;
 
  margin: 100px 20px;
  
  background-color: white;
  /*background-color: #59f;*/
  float: right;
}

div#topText {
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

div#imgInput {
	float: left;
	width: 280px;
  text-align: center;
}

#imgInput img {
	height: 100px;
	width: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#imgInput label {
	display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #efefef;
  cursor: pointer;
  border:2px outset lightgray;
  border-bottom-color: #efefef;
  border-radius: .25em;
}

#imgInput input {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

div#textInput {
	margin-left: 280px;
}

div#email {
	margin: 25px 0px 0px 10px;
}

div#password {
  margin: 15px 0px 0px 10px;
}

div#nickName {
	margin: 15px 0px 0px 10px;
}

div#button {
	padding-top: 35px;
	height: 50px;
	text-align: center;
}

input#input_email {
	margin-left: 63px;
}

input#input_password {
  margin-left: 36px;
}

input#input_nickName {
  margin-left: 32px;
}

input#input_password_confirm {
  margin-left: 5px;
}


/* 끝 - 오른쪽 편 영역 설정 */

/* 꼬리말 영역 설정 */
footer {
  position: relative;
  height: 7%;
  line-height: 50px;
  background-color: white;
  color: black;
  min-width: 600px;
  margin: 0px;
}
/* 끝 - 꼬리말 영역 설정 */