@CHARSET "UTF-8";

html  {
  height: 100%;
	border: 1px solid blue;
}
body {
 
  height: 100%;
  margin: 0px;
  padding: 0px;

}
.container {
  position: relative;
  padding: 0px;
  width: 100%;
  height: 86%;
	border: 1px solid yellow;
}

/* 본문 내용 설정 */
section {
  /*margin: 0 181px 0 181px;*/
  height: 100%;
  padding: 0px 0px;
	border: 1px solid green;
}
#toolbar {
  margin: 10px 0px;
}
/* 끝 - 본문 내용 설정 */

/* 오른쪽 편 영역 설정 */
form {
  width: 300px;
  height: 220px;
  position: absolute;
  top: 30%;
  left: 38%;
 
  /*background-color: #59f;*/
  float: left;
  /* border: 1px solid red; */
}

#email {
	margin: 25px 0 0 30px;
}

#password {
  margin: 15px 0 0 30px;
}

.form-control {
	width: 88%
}

#label {
	font-weight: bold;
	font-size:15px;
	color:white;
  text-align:center;
}

label:hover { 
	background-color: Highlight; 
	color: HighlightText; 
}

A:hover {
	color:white; 
	background-color: Highlight;
	color: HighlightText; 
	text-decoration:underline;
}

#link {
	padding-top: 15px;
	height: 50px;
	text-align: center;
	font-size: 15px;
	color: white;
}

.link {
  text-decoration:none;
  font-size:15px;
  font-weight: bold;
  height:20px;
  width:60px;
  display:inline-block;
  padding-top:2px;
  color:white;
  text-align:center;
}

/* 끝 - 오른쪽 편 영역 설정 */
header {
  border: 1px solid red;
  width: 100%;
  height: 7%;
  position: relative;
  color: white;
}
footer {
	border: 1px solid red;
  width: 100%;
  height: 7%;
  position: relative;
  left: 0px;
  bottom: 0px;
  text-align: center;
}