@import url('demo.css');
@import url('font-awesome.css');

@CHARSET "UTF-8";

html  {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;

}

/*로고 영역 부분*/
header {
  width: 100%;
  height: 7%;
  position: relative;
  background-color: white;
}

.logo {
  height: 100%;
  width: 20%;
}

/*
footer {
  width: 100%;
  height: 7%;
  position: relative;
  left: 0px;
  bottom: 0px;
  text-align: center;
}
*/

.container {
  position: relative;
  padding: 0px;
  width: 100%;
  height: 86%;
}

/* 본문 내용 설정 */
section {
  /*margin: 0 181px 0 181px;*/
  height: 100%;
  padding: 0px 0px;
}
/* 끝 - 본문 내용 설정 */

/* 멘트 영역 부분 */
#mainText {
  width: 500px;
  height: 220px;
  position: absolute;

  top: 28.4%;
  left: 5%;
  font-weight: bold;
  font-size: 20px;
  color: white;

  top: 32%;
  left: 10%;
  font-weight: lighter;
  font-size: 40px;
  color: antiquewhite;
  text-shadow: darkgray 1px 1px 10px;
  font-family: sans-serif;
  /*border: 1px solid red;*/
}

.intext {
    font-size: 42px;
    font-weight: bolder;
}

/* 오른쪽 로그인 영역 설정 */

#null {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 25%;
  right: 5%;
  
  /*#2B2547*/
  
  background-color: black;
  opacity: 0.7;
  
  float: left;
}

/*
#email {
	margin: 25px 0 0 30px;
}

#password {
  margin: 30px 0 0 30px;
}
*/

.form-control {
	width: 88%
}

#goJoin {
  float: right;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

A:hover {
	color:white; 
	background-color: Highlight;
	color: HighlightText; 
	text-decoration:underline;
}

#link {
	padding-top: 15px;
	height: 50px;
	text-align: center;
	font-size: 15px;
  color: white;
  font-weight: bold;
}

.link {
  text-decoration:none;
  font-size:15px;
  font-weight: bold;
  height:20px;
  width:60px;
  display:inline-block;
  padding-top:2px;
  text-align:center;
  color: white;
}

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Demo 4 */

.form-4 {
    /* Size and position */
    width: 300px;
    position: absolute;
    top: 30%;
    right: 8%;
  
    float: left;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.form-4 h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.form-4 input[type=text],
.form-4 input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.5);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.form-4 input::-webkit-input-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-moz-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-ms-input-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input[type=text]:hover,
.form-4 input[type=password]:hover {
    border-color: white;
}

.form-4 input[type=text]:focus,
.form-4 input[type=password]:focus,
.form-4 input[type=button]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .form-4 input[type=text]:focus,
.no-boxshadow .form-4 input[type=password]:focus {
    outline: 1px solid white;
}

.form-4 input[type=button] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;
    
    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: darkred; /* linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.7));    */
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=button]:hover {
    background: red;
    
    /*box-shadow: 
        inset 0 1px rgba(255,255,255,0.5), 
        inset 0 20px 30px rgba(145,0,0,0.5);*/
}

/* Fallback */
.no-boxshadow .form-4 input[type=button]:hover {
    background: #594642;
}

.form-4 label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.form-4 label:hover ~ input {
    border-color: #333;
}

.no-placeholder .form-4 label {
    display: block;
}