@CHARSET "UTF-8";

html {
  height: 100%;
  background: whitesmoke;
  min-height: 650px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, p {
    margin: 0;
	padding: 0;
}

.menubar {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 20%;
    height: 100%;
    min-height: 650px;
    background: rgb(55, 55, 55);
}

.view {
    position: page;
    height: 100%;
    min-height: 650px;
}

/* 로고 관련 */
.logoview {
  height: 25%; 
  text-align: center; 
  border: 1px solid red;
}

.logo {
  margin-top: 30%;
  border: 1px solid blue;
}



/*유저정보*/
.userinfoview {
  height: 20%; 
  text-align: center;
  border: 1px solid red;
  font-size: smaller;
}

.useremail {
}

.userlogout {  
}



/* 메뉴 바 */
.menuview {
  height: 40%;
  text-align: center;
  border: 1px solid red;        
}



/* copyright 부분  */
.footerview {
  height: 15%;
  text-align: center;
  border: 1px solid red;      
}

.footer {
  margin-top: 10%;
  font-size: small; 
}



.selectcar {
    border: 1px solid red;
    position: absolute;
    float: left;
    left: 25%;
    top: 2.5%;
    margin: 0px;
}

.averoil {
    border: 1px solid red;
    position: absolute;
    top: 10%;
    left: 22%;
}

.effi {
    border: 1px solid red;
    position: absolute;
    top: 10%;
    left: 46%;
}

.buyoil {
    border: 1px solid red;
    position: absolute;
    top: 10%; 
    left: 72%;
}

.carcondition {
    border: 1px solid red;
    position: absolute;
    left: 46%;
    bottom: 35%;
}