@CHARSET "UTF-8";

html {
  height: 100%;
  background: whitesmoke;
  min-height: 650px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, p {
    margin: 0;
	padding: 0;
}

.menubar {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 20%;
    height: 100%;
    min-height: 650px;
    background: rgb(55, 55, 55);
}

.view {
    position: page;
    height: 100%;
    min-height: 650px;
}

/* 로고 관련 */
.logoview {
  height: 25%; 
  text-align: center; 
  border: 1px solid red;
}

.logo {
  margin-top: 30%;
  border: 1px solid blue;
}

/*유저정보*/
.userinfoview {
  height: 20%; 
  text-align: center;
  border: 1px solid red;
  font-size: smaller;
}

.useremail {
  
}

.userlogout {  
}



/* 메뉴 바 */
.menuview {
  height: 40%;
  text-align: center;
  border: 1px solid red;        
}

.menuview li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuview ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuview a {
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}

.menuview a:hover {
  background: #2580a2;
  color: #fff;
}

/* copyright 부분  */
.footerwrapper {
  height: 15%;
  width: 100%;
  display: table;
  border: 1px solid red;
}

.footerview {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  font-size: small;
}


/* 4가지 차트 view 부분 */
.selectcar {
    border: 1px solid red;
    position: absolute;
    float: left;
    left: 25%;
    top: 2.5%;
    margin: 0px;
}

.averoil {
    border: 1px solid red;
    position: absolute;
    top: 10%;
    left: 21%;
    margin: 0px;
    padding: 0px;
}

.effi {
    border: 1px solid red;
    position: absolute;
    top: 10%;
    left: 62%;
}

.viewintitle {
    border: 1px solid red;
    position: absolute;
    top: 55%;
    left: 21%;       
}

.buyoil {
    border: 1px solid red;
    position: absolute;
    top: 55%; 
    left: 62%;
}

.carcondition {
    border: 1px solid red;
    position: absolute;
    left: 46%;
    top: 92%;
}
/* view 부분 끝 */