@CHARSET "UTF-8";


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.menubar {
    height: 100%;
    position: relative;
    background: rgb(55, 55, 55);
    width: 20%;
    float: left;
    padding: 0px;
}

.view {
    height: 100%;
    background: WhiteSmoke;
    margin: 0px;
}

h1, h2, h3, p {
    margin: 0;
	padding: 0;
}